




<section class="courses-page">
    <div class="container">

        <div class="top-area">
            <p><i class="fa-regular fa-house"></i>Home<i class="fa-solid fa-angles-right"></i><span>Courses</span></p>
            <div class="topic-and-search">
                <h2>Courses</h2>
                <div class="browse-and-search">
                    <a href="#">All categories</a>
                    <input placeholder="Search courses"/>
                </div>
            </div>
        </div>
        <div class="courses">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
        </div>


        <div class="get-started">
            <div class="left-side">
                <p>Ready to Get started?</p>
                <h1>Take Your <span>Skills</span> to the Next Level</h1>
                <button class="btn-theme">Work with us</button>
            </div>
            <img src="~/Images/illustration.svg" />
        </div>
    </div>
</section>