
@model AccountDetailsViewModel
@{
    ViewData["Title"] = $"{@Model.ProfileInfo?.FirstName} {@Model.ProfileInfo?.LastName}";
    var user = await UserManager.GetUserAsync(User);
    
}

 <section class="account-details">
     <div class="container">
         <aside>
            <Partial name="~/Views/Shared/Partials/_ProfileInfo.cshtml" />
            <nav>
                <a id="nav-settings" class="btn-nav active" asp-action="Details" asp-controller="Account"><i class="fa-regular fa-gear"></i><span>Account Details</span></a>
                <a id="nav-security" class="btn-nav" asp-action="Security" asp-controller="Account"><i class="fa-regular fa-lock"></i><span>Security</span></a>
                <a id="nav-bookmark" class="btn-nav" asp-action="SavedCourses" asp-controller="Account"><i class="fa-regular fa-bookmark"></i><span>Saved Courses</span></a>
                <a id="nav-signout" class="btn-nav" asp-action="SignOut" asp-controller="Account"><i class="fa-regular fa-arrow-right-from-bracket"></i><span>Sign Out</span></a>
                
             </nav>
         </aside>
         <div class="account-information">
            <form class="basicinfo-form" method="post" asp-action="Details" asp-controller="Account" onsubmit="return validatePersonalForm(event)" novalidate>
                 <h1>Account Details</h1>
                 <h5>Basic Info</h5>
                 <div class="form-content">
                    <div id="form-firstname" class="input-group">
                        <label asp-for="BasicInfoForm.FirstName"></label>

                        @if (Model.ProfileInfo.IsExternalAccount)
                        {
                            <input asp-for="BasicInfoForm.FirstName" disabled/>
                        }
                        else
                        {
                            <span asp-validation-for="BasicInfoForm.FirstName"></span>
                            <input class="required-field" asp-for="BasicInfoForm.FirstName" />
                        }

                        
                    </div>
                    <div id="form-lastname" class="input-group">
                        <label asp-for="BasicInfoForm.LastName"></label>
                        @if (Model.ProfileInfo.IsExternalAccount)
                        {
                            <input asp-for="BasicInfoForm.LastName" disabled />
                        }
                        else
                        {
                            <span asp-validation-for="BasicInfoForm.LastName"></span>
                            <input class="required-field" asp-for="BasicInfoForm.LastName" />
                        }
                    </div>
                    <div id="form-email" class="input-group">
                        <label asp-for="BasicInfoForm.Email"></label>
                        @if (Model.ProfileInfo.IsExternalAccount)
                        {
                            <input asp-for="BasicInfoForm.Email" disabled />
                        }
                        else
                        {
                            <span asp-validation-for="BasicInfoForm.Email"></span>
                            <input class="required-field" asp-for="BasicInfoForm.Email" />
                        }
                    </div>
                    <div id="form-phone" class="input-group">
                        <label asp-for="BasicInfoForm.PhoneNumber"></label>
                        <span asp-validation-for="BasicInfoForm.PhoneNumber"></span>
                        <input asp-for="BasicInfoForm.PhoneNumber" />
                    </div>
                    <div id="form-bio" class="input-group">
                        <label asp-for="BasicInfoForm.Biography"></label>
                        <textarea asp-for="BasicInfoForm.Biography" ></textarea>
                        <span asp-validation-for="BasicInfoForm.Biography"></span>
                    </div>
                    <div class="my-buttons">
                        <button id="btn-info-reset" class="btn-gray" type="reset">Cancel</button>
                        <button id="btn-info-submit" class="btn-theme" type="submit">Save changes</button>
                    </div>
                 </div>
             </form>

            <form id="adressinfo-form" method="post" asp-action="Details" asp-controller="Account" onsubmit="return validateAdressForm(event)" novalidate>
                 <h5>Adress</h5>
                 <div class="form-adress-content">
                     <div id="adressline_1" class="input-group">
                        <label asp-for="AdressInfoForm.AdressLine_1"></label>
                        <input class="required-field-adress" asp-for="AdressInfoForm.AdressLine_1" />
                        <span asp-validation-for="AdressInfoForm.AdressLine_1"></span>
                     </div>
                    <div id="adressline_2" class="input-group">
                        <label asp-for="AdressInfoForm.AdressLine_2"></label>
                        <input asp-for="AdressInfoForm.AdressLine_2" />
                        <span asp-validation-for="AdressInfoForm.AdressLine_2"></span>
                    </div>
                    <div id="postalcode" class="input-group">
                        <label asp-for="AdressInfoForm.PostalCode"></label>
                        <input class="required-field-adress" asp-for="AdressInfoForm.PostalCode" />
                        <span asp-validation-for="AdressInfoForm.PostalCode"></span>
                    </div>
                    <div id="city" class="input-group">
                        <label asp-for="AdressInfoForm.City"></label>
                        <input class="required-field-adress" asp-for="AdressInfoForm.City" />
                        <span asp-validation-for="AdressInfoForm.City"></span>
                    </div>

                    <div class="my-buttons">
                        <button id="btn-adress-reset" class="btn-gray" type="reset">Cancel</button>
                        <button id="btn-adress-submit" class="btn-theme" type="submit">Save changes</button>
                    </div>
                 </div>
             </form>
         </div>
     </div>
 </section>

<script src="/js/upload.js"></script>
<script src="~/js/details-validator.js"></script>