@model AccountDetailsViewModel

@{
    var user = await UserManager.GetUserAsync(User);
}




<section class="saved-courses">
    <div class="container">
        <aside>
            <Partial name="~/Views/Shared/Partials/_ProfileInfo.cshtml" />
            <nav>
                <a id="nav-settings" class="btn-nav" asp-action="Details" asp-controller="Account"><i class="fa-regular fa-gear"></i><span>Account Details</span></a>
                <a id="nav-security" class="btn-nav " asp-action="Security" asp-controller="Account"><i class="fa-regular fa-lock"></i><span>Security</span></a>
                <a id="nav-bookmark" class="btn-nav active" asp-action="SavedCourses" asp-controller="Account"><i class="fa-regular fa-bookmark"></i><span>Saved Courses</span></a>
                <a id="nav-signout" class="btn-nav" asp-action="SignOut" asp-controller="Account"><i class="fa-regular fa-arrow-right-from-bracket"></i><span>Sign Out</span></a>
            </nav>
        </aside>
        <div class="content">
            <div class="topic-and-deleteall">
                <h2>Saved Items</h2>
                <a class="my-delete-btn" href="#"><i class="fa-regular fa-trash"></i>Delete all</a>
            </div>
            <div class="course-area">
                <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
                    <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
                        <Partial name="~/Views/Shared/Partials/Components/_Course.cshtml">
            </div>
        </div>
    </div>
</section>

<script src="/js/upload.js"></script>