@model SignInViewModel
@{
    ViewData["Title"] = "test title";
}


<section id="signin">
    <div class="container">
        <form method="post" asp-controller="Account" asp-action="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
            {
                <div class="my-error-message">
                    @ViewData["ErrorMessage"]
                </div>
            }
            
            
            <h1>Welcome Back</h1>
            <p>Don't' have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up here</a>.</p>

            <div class="content">

                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" id="email" />
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" id="password" />
                </div>

                <div id="form-remember" class="checkbox">
                    <label class="checkbox-box">
                        <input type="checkbox">
                        <span class="min-checkmark"></span>
                        <p>Keep me signed in.</p>
                    </label>
                </div>
                <div class="btn-and-forgot-area">
                    <button id="form-submit" class="btn-theme-s mb-3" type="submit">Sign in</button>
                    <a id="form-forgot-password" asp-controller="Account" asp-action="Forgot">Forgot your password?</a>
                </div>
                <div class="external-providers">
                    <h6>Or sign in with your social account</h6>
                    <div class="providers">
                        <a class="btn-gray" asp-action="Google" asp-controller="Auth"><i class="fa-brands fa-google"></i>Google</a>
                        <a class="btn-gray" asp-action="Facebook" asp-controller="Auth"><i class="fa-brands fa-facebook"></i>Facebook</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>


<script src="/js/signinvalidator.js"></script>