/*form {
    width: 100%;
    display: grid;
    gap: 1rem;

    .checkbox {
        span {
            display: block;

            &.field-validation-error {*/
/*                position: absolute;
                top: 0;
                right: 0;*/
                /*@include text-s;
                color: $danger;
            }
        }
    }

    .input-group {
        margin: 1rem 0;
        display: grid;

        span {

            &.field-validation-error {
                position: absolute;
                top: 0;
                right: 0;
                @include text-s;
                color: $danger;
            }
        }
    }



    .checkbox-group {
        margin: 1rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        input [type="checkbox"] {
            height: 1.2rem;
            width: 1.2rem;

            label {
                margin: 0;
                font-weight: 400;
            }
        }
    }

    label {
        margin-bottom: 3px;
        font-weight: 700;
    }

    input {
        padding: 1rem;
        border-radius: 8px !important;
        border: 1px solid $gray-400;

        &::placeholder {
            opacity: 0.5;
        }

        &.input-validation-error {
            border: 1px solid $danger !important;
            color: $danger;

            &::placeholder {
                color: $danger;
            }
        }
    }
}*/


/*form {
    width: 100%;
    display: grid;
    

    .input-group {
        display: grid;
    }

    .checkbox-group {

        input[type = checkbox] {
            margin-right: 10px;
        }

        .input-group {
            display: flex;
            align-items: center;
        }
    }



    input {
        font-size: 16px;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #808080;

        &::placeholder {
            opacity: 0.5;
        }
    }

    input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin: 0;
        
    }
}*/


form {
    width: 100%;
    display: grid;
    ///TEST
    .checkbox-box {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;



        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;


            &:checked {
                ~ {
                    .min-checkmark {
                        background-color: $theme;
                        border: none;

                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }

        .min-checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 18px;
            width: 18px;
            border-radius: 4px;
            background-color: #ffffff;
            border: 2px solid $gray-500;

            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 3px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        p {

            @include text-s;
            color: $gray-700;
        }
    }
    ///TEST

    textarea {
        padding: 0.5rem;
        border-radius: 8px !important;
        border: 1px solid $gray-400;
    }




    h1 {
        font-weight: 700;
        color: #0B0F19;
    }

    p {
        color: #565973;
        font-size: 16px;

        a {
            color: #6366F1;
        }
    }

    .input-group {
        display: grid;
        margin: 0.8rem 0;

        input.error {
            background-color: #f2a7b7;
            opacity: 0.9
        }

        small {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 14px;
            margin-top: 5px;
            display: block;
            color: #f91919;
        }

        .error {
            color: red;
            background-color: red;
        }


        span {
            &.field-validation-error {
                position: absolute;
                top: 0;
                right: 0;
                @include text-s;
                color: $danger;
            }
        }
    }

    .checkbox {

        .checkbox-group {
            margin: 1rem 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            input [type=checkbox] {
                height: 2rem;
                width: 2rem;

                label {
                    margin: 0;
                    font-weight: 400;
                }
            }
        }

        span {
            &.field-validation-error {
                display: block;
                @include text-s;
                color: $danger;
            }
        }
    }

    label {
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 600;
    }

    input {
        padding: 0.5rem;
        border-radius: 8px !important;
        border: 1px solid $gray-400;
        align-items: center;

        &::placeholder {
            opacity: 0.5;
            font-size: 16px;
        }

        &.input-validation-error {
            border: 1px solid $danger !important;
            color: $danger;
            margin: 0;



            &::placeholder {
                color: $danger;
                margin: 0;
            }
        }
    }
}