<section class="download">
    <div class="container">
        
        <div class="image-area">
            <img class="mobile-img" src="/Images/screens.svg">
        </div>
        
        <div class="download-content">
            <h2>Download Our App for Any Devices:</h2>
            <div class="apple-and-googleplay">
                <div class="download-btn-and-reviews">
                    <div class="centrumized">
                        <div class="download-info">
                            <p class="txt1">App Store</p>
                            <div class="stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <h6>Editor's Choice</h6>
                            <p class="txt2">rating 4.7, 187K+ reviews</p>
                        </div>
                        <div class="btn-position">
                            <a class="dl-btn" href="#">
                                <img src="/Images/appstore.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="download-btn-and-reviews">
                    <div class="centrumized">
                        <div class="download-info">
                            <p class="txt1">Google Play</p>
                            <div class="stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <h6>App of the Day</h6>
                            <p class="txt2">rating 4.8, 30K+ reviews</p>
                        </div>
                        <div class="btn-position">
                            <a class="dl-btn" href="#">
                                <img class="small-fix" src="/Images/googleplay.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>