<section id="features" class="features">
    <div class="container">
        <h2>What Do You Get with Our Tool?</h2>
        <p class="p-width">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="feature-boxes">

            <a class="link-box" href="#">
                <div class="f-box-1 f-box">
                    <img src="/Images/icon-1.svg" alt="">
                    <h5>Comments on Tasks</h5>
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </div>
            </a>

            <a class="link-box" href="#">
                <div class="f-box-2 f-box">
                    <img src="/Images/icon-2.svg" alt="">
                    <h5>Tasks Analytics</h5>
                    <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                </div>
            </a>

            <a class="link-box" href="#">
                <div class="f-box-3 f-box">
                    <img src="/Images/icon-3.svg" alt="">
                    <h5>Multiple Assignees</h5>
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </div>
            </a>

            <a class="link-box" href="#">
                <div class="f-box-4 f-box">
                    <img src="/Images/icon-4.svg" alt="">
                    <h5>Notifications</h5>
                    <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                </div>

            </a>
            <a class="link-box" href="#">
                <div class="f-box-5 f-box">
                    <img src="/Images/icon-5.svg" alt="">
                    <h5>Sections & Subtasks</h5>
                    <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                </div>
            </a>

            <a class="link-box" href="#">
                <div class="f-box-6 f-box">
                    <img src="/Images/icon-6.svg" alt="">
                    <h5>Data Security</h5>
                    <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                </div>
            </a>
        </div>
    </div>
</section>