@inject SignInManager<UserEntity> _signInManager;

@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}
@{
    var user = await UserManager.GetUserAsync(User);
}


<header>
    <div class="container">

        <a asp-controller="Home" asp-action="Index" class="logo"><img src="~/Images/@(isDark ? "logo-dark.svg" : "silikon-logo.svg")"></a>

        <div class="btn-mobile btn-group">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#overview">Overview</a>
                <a class="dropdown-item" href="#features">Features</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="Contact">Contact</a>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="dropdown-item" asp-controller="Courses" asp-action="Index">Courses</a>
                }
                <div class="dropdown-divider"></div>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Sign out</a>

                }
                else
                {
                    <a class="dropdown-item" asp-controller="Account" asp-action="SignIn">Sign in</a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="SignUp">Sign up</a>
                }
            </div>
        </div>

        <div class="menu">
            <nav>
                <a class="menu-link" href="#overview">Overview</a>
                <a class="menu-link" href="#features">Features</a>
                <a class="menu-link" asp-controller="Home" asp-action="Contact">Contact</a>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                }
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" checked="@isDark"  />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <div class="profile-signed-in">
                    <div class="prfl-image">
                        <a asp-action="Details" asp-controller="Account"><img src="~/uploads/@user!.ProfileImage" alt="profile image" /></a>
                    </div>
                </div>
                @* <a asp-controller="Account" asp-action="Details" class="btn-theme"><i class="fa-regular fa-user"></i><span>My account</span></a> *@
                <a asp-controller="Account" asp-action="SignOut" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>Sign out</span></a>
            }
            else
            {
                <a asp-controller="Account" asp-action="SignIn" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>Sign in</span></a>
                <a asp-controller="Account" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
            }
            
        </div>

    </div>
</header>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>