

@inject SignInManager<UserEntity> _signInManager;



<header>
    <div class="container">

        <a asp-controller="Home" asp-action="Index" class="logo"><img src="~/Images/silikon-logo.svg"></a>

        <div class="menu">
            <nav>
                <a class="menu-link" href="#overview">Overview</a>
                <a class="menu-link" href="#features">Features</a>
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                }
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="Details" class="btn-theme"><i class="fa-regular fa-user"></i><span>My account</span></a>
                <a asp-controller="Account" asp-action="SignOut" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>Sign out</span></a>
            }
            else
            {
                <a asp-controller="Account" asp-action="SignIn" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>Sign in</span></a>
                <a asp-controller="Account" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
            }
            
        </div>

    </div>
</header>