<section class="integrate-tools">
    <div class="container">
        <div class="content">
            <div class="topic-infotext">
                <h2>Integrate Top Work Tools</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
            </div>
            <div class="tool-area">
                <a class="tool">
                    <img src="Images/Google.svg">
                    <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
                </a>
                <a class="tool">
                    <img src="Images/zoom.svg">
                    <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
                </a>
                <a class="tool">
                    <img src="Images/slack.svg">
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </a>
                <a class="tool">
                    <img src="Images/gmail.svg">
                    <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
                </a>
                <a class="tool">
                    <img src="Images/trello.svg">
                    <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
                </a>
                <a class="tool">
                    <img src="Images/mailchimp.svg">
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </a>
                <a class="tool">
                    <img src="Images/dropbox.svg">
                    <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
                </a>
                <a class="tool">
                    <img src="Images/evernote.svg">
                    <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
                </a>
            </div>
        </div>
    </div>
</section>