<section class="manage-work">
    <div class="container">
        <img src="/Images/dashboard.svg">
        <div class="manage-content">
            <div class="manage-box">
                <h2>Manage Your Work</h2>
                <div class="check-and-text">
                    <div class="circle-border"><i class="fa-sharp fa-solid fa-check"></i></div>
                    <p>Powerful project management</p>
                </div>
                <div class="check-and-text">
                    <div class="circle-border"><i class="fa-sharp fa-solid fa-check"></i></div>
                    <p>Transparent work management</p>
                </div>
                <div class="check-and-text">
                    <div class="circle-border"><i class="fa-sharp fa-solid fa-check"></i></div>
                    <p>Manage work & focus on the most important tasks</p>
                </div>
                <div class="check-and-text">
                    <div class="circle-border"><i class="fa-sharp fa-solid fa-check"></i></div>
                    <p>Track your progress with interactive charts</p>
                </div>
                <div class="check-and-text">
                    <div class="circle-border"><i class="fa-sharp fa-solid fa-check"></i></div>
                    <p>Easiest way to track time spent on tasks</p>
                </div>
                <a class="btn-theme-s">Learn More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
            </div>

        </div>
    </div>
</section>