<section class="switch">
    <div class="dark-left">
    </div>
    <div class="light-right">
    </div>
    <div class="topic-and-macbook">
        <div class="text-position">
            <h2 class="white-text">Switch Between</h2>
            <h2 class="dark-text">Light & Dark Mode</h2>
        </div>
        <img src="/Images/Macbook.svg">
    </div>
</section>
