@model ContactFormViewModel




<section class="contact-page">
    <div class="contact-class">
        <div class="upper">
            <div class="contact-content container">
                <p><i class="fa-regular fa-house"></i>Home<i class="fa-solid fa-angles-right"></i><span>Contact</span></p>
                <h1>Contact Us</h1>
                <div class="contact-component">
                    <div class="circle-logo">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="component-info">
                        <h3>Email us</h3>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <h6>Leave a message<i class="fa-solid fa-arrow-right"></i></h6>
                    </div>
                </div>
                <div class="contact-component">
                    <div class="circle-logo">
                        <i class="fa-regular fa-users"></i>
                    </div>
                    <div class="component-info">
                        <h3>Careers</h3>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <h6>Send an application<i class="fa-solid fa-arrow-right"></i></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower">
            <img src="~/Images/contact-map.svg" />

            <form class="container" method="post" asp-action="SendRequest" asp-controller="Home" novalidate onsubmit="return validateContactForm(event)">
                <h3>Get In Contact With Us</h3>
                <div id="form-fullname" class="input-group">
                    <label asp-for="FullName"></label>
                    <input class="required-field" id="fullname" asp-for="FullName" />
                </div>
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <input class="required-field" id="email" asp-for="Email" />
                </div>
                <div class="service-dropdown input-group">
                    <label asp-for="Service"></label>
                    <input  id="service" asp-for="Service" />
                </div>
                <div id="form-message" class="input-group">
                    <label asp-for="Message"></label>
                    <textarea class="required-field" id="message" asp-for="Message"></textarea>
                </div>
                <button type="submit" class="btn-theme">Send Contact Request</button>
                <div class="status-info">
                    @if (TempData["Status"]?.ToString() == "Success")
                    {
                        <span class="confirm-msg">Successfully <i class="fa-solid fa-check"></i></span>
                    }
                    else if (TempData["Status"]?.ToString() == "AlreadyExists")
                    {
                        <span class="error-msg">You have already contacted us. Please wait for our response.</span>

                    }
                    else if (TempData["Status"]?.ToString() == "Invalid")
                    {
                        <span class="error-msg">Please try again.</span>
                    }
                    else if (TempData["Status"]?.ToString() == "ConnectionFailed")
                    {
                        <span class="error-msg">Connection to server failed. Please try again later.</span>
                    }
                    else if (TempData["Status"]?.ToString() == "Unauthorized")
                    {
                        <span class="error-msg">Somthing went wrong. Please contact web admin.</span>
                    }

                </div>
            </form>
        </div>
    </div>
    
</section>

<script src="~/js/contactform-vali.js"></script>