




<section class="contact-page">
    <div class="contact-class">
        <div class="upper">
            <div class="contact-content container">
                <p><i class="fa-regular fa-house"></i>Home<i class="fa-solid fa-angles-right"></i><span>Contact</span></p>
                <h1>Contact Us</h1>
                <div class="contact-component">
                    <div class="circle-logo">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="component-info">
                        <h3>Email us</h3>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <h6>Leave a message<i class="fa-solid fa-arrow-right"></i></h6>
                    </div>
                </div>
                <div class="contact-component">
                    <div class="circle-logo">
                        <i class="fa-regular fa-users"></i>
                    </div>
                    <div class="component-info">
                        <h3>Careers</h3>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <h6>Send an application<i class="fa-solid fa-arrow-right"></i></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower">
            <img src="~/Images/contact-map.svg" />

            <form class="container">
                <h3>Get In Contact With Us</h3>
                <div id="form-fullname" class="input-group">
                    <label>Full name</label>
                    <span></span>
                    <input placeholder="Enter your full name"/>
                </div>
                <div id="form-email" class="input-group">
                    <label>Email adress</label>
                    <span></span>
                    <input placeholder="Enter your email adress"/>
                </div>
                <div class="service-dropdown input-group">
                    <label>Service<span>(optional)</span></label>
                    <span></span>
                    <input placeholder="Choose the service you are interested in"/>
                </div>
                <div id="form-message" class="input-group">
                    <label>Message</label>
                    <textarea placeholder="Enter your message here..."></textarea>
                    <span></span>
                </div>
                <button class="btn-theme">Send Contact Request</button>
            </form>
        </div>
    </div>
    
</section>