@model SuberscribeViewModel

@* @{
    ViewData["Title"] = "Subscribe";
} *@

@{
    
}

<section class="subscribe">
    <div class="container">
        <div class="content">
            <form asp-controller="Home" asp-action="Subscribe" onsubmit="return validateForm(event)" method="post" novalidate>
                <div class="headline-and-image">
                    <h2>Don't Want to Miss Anything?</h2>
                    <img src="/Images/curly-arrow.svg">
                </div>
                <div class="checkbox-section">
                    <h6>Sign up for Newsletters</h6>
                    <div class="checkbox-area">
                        <label class="checkbox-box">
                            <input type="checkbox">
                            <span class="min-checkmark"></span>
                            <p >Daily Newsletter</p>
                        </label>
                        <label class="checkbox-box">
                            <input type="checkbox">
                            <span class="min-checkmark"></span>
                            <p>Advertising Updates</p>
                        </label>
                        <label class="checkbox-box">
                            <input type="checkbox">
                            <span class="min-checkmark"></span>
                            <p>Week in Review</p>
                        </label>
                        <label class="checkbox-box">
                            <input type="checkbox">
                            <span class="min-checkmark"></span>
                            <p>Event Updates</p>
                        </label>
                        <label class="checkbox-box">
                            <input type="checkbox">
                            <span class="min-checkmark"></span>
                            <p>Startups Weekly</p>
                        </label>
                        <label class="checkbox-box">
                            <input asp-for="Podcasts" type="checkbox">
                            <span class="min-checkmark"></span>
                            <p>Podcasts</p>
                        </label>
                    </div>
                </div>
                <div class="input-and-sub-btn">
                    <input id="emailInput" asp-for="@Model.Email" type="email" placeholder="Your Email" />
                    <button class="btn-theme-s" type="submit">Subscribe*</button>

                </div>
                <p>* Yes, I agree to the terms and privacy policy.</p>

                <div class="status-info">
                    @if (TempData["Status"]?.ToString() == "Success")
                    {
                        <span class="confirm-msg">You have been subscribed.</span>
                    }
                    else if (TempData["Status"]?.ToString() == "AlreadyExists")
                    {
                            <div class="error-area">
                                <span class="error-msg">Already subscribed.</span>
                                <button asp-controller="Home" asp-action="Unsubscribe" class="btn-theme" type="submit">Unsubscribe!</button>
                            </div>
                            
                    }
                    else if (TempData["Status"]?.ToString() == "Invalid")
                    {
                        <span class="error-msg">Enter a valid email adress.</span>
                    }
                    else if (TempData["Status"]?.ToString() == "ConnectionFailed")
                    {
                        <span class="error-msg">Connection to server failed. Please try again later.</span>
                    }
                    else if (TempData["Status"]?.ToString() == "Unauthorized")
                    {
                        <span class="error-msg">Somthing went wrong. Please contact web admin.</span>
                    }

                </div>
              
            </form>
        </div>
    </div>
</section>

<script src="~/js/subscribe-validator.js"></script>
@* <script src="~/js/remove-sub.js"></script> *@