
<a href="#" class="course">
    <img src="/Images/macbook-hands.svg" alt="" />
    <div class="course-content">
        <h5>Fullstack Web Developer Course from Scratch</h5>
        <p>By Robert Fox</p>
        <h5 class="price">$12.50</h5>
        <div class="length-rating">
            <p class="length"><i class="fa-regular fa-clock"></i>220 hours</p>
            <p class="rating"><i class="fa-regular fa-thumbs-up"></i>94% (4.2K)</p>
        </div>
    </div>
</a>