.courses-page {
    .container {

        .top-area {
            margin-top: 3rem;

            p {
                color: $gray-600;

                @include text-s;

                .fa-house {
                    margin-right: 0.5rem;
                }

                .fa-angles-right {
                    font-size: 10px;
                    margin-left: 0.5rem;
                }

                span {
                    color: $theme;
                    margin-left: 0.5rem;
                }
            }

            .topic-and-search {

                @include lg {
                    display: flex;
                    justify-content: space-between;
                }

                h2 {
                    font-weight: 800;
                }

                .browse-and-search {
                    display: flex;
                    gap: 1rem;

                    a {
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid $gray-400;
                        padding: 8px 10px;
                        border-radius: 6px;
                        width: 100%;
                        text-decoration: none;
                        color: $gray-700;
                        align-items: center;

                        @include lg {
                            width: 240px;
                        }
                    }

                    input {
                        padding: 6px 10px;
                        border-radius: 6px;
                        width: 100%;
                        border: 1px solid $gray-400;
                        color: $gray-700;


                        @include lg {
                            width: 300px;
                        }
                    }
                }
            }
        }

        .courses {
            padding-top: 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;

            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
            }


            .course {
                display: inline-block;
                border-radius: 0 0 7px 7px;
                width: 100%;
                margin-bottom: 1.5rem;
                text-decoration: none;
                color: $gray-900;
                @include shadow-l;
                position: relative;

                .best-seller {
                    @include text-s;
                    color: #ffffff;
                    background-color: #22C55E;
                    width: 86px;
                    height: 22px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 16px;
                    left: 16px;
                }





                img {
                    border-radius: 7px 7px 0 0;
                    width: 100%;
                    height: auto;
                }

                .course-content {
                    padding: 2rem 2rem;


                    h5 {
                        font-weight: 800;
                    }

                    p {
                        @include text-s;
                        margin: 0;
                    }

                    .prices {
                        display: flex;

                        .discount-price {
                            color: red;
                            margin-top: 8px;
                            margin-bottom: 16px;
                            margin-right: 1rem;
                        }

                        .old-price {
                            color: $gray-400;
                            margin-top: 8px;
                            margin-bottom: 16px;
                            text-decoration: line-through;
                        }
                    }

                    .price {
                        color: $theme;
                        margin-top: 8px;
                        margin-bottom: 16px;
                    }

                    .length-rating {
                        border-top: 1px solid $gray-300;
                        display: block;
                        padding-top: 1.5rem;
                        color: $gray-600;

                        @include md {
                            display: flex;
                        }


                        .length {
                            margin-right: 1.2rem;



                            .fa-clock {
                                font-size: 16px;
                                margin-right: 5px;
                            }
                        }

                        .rating {

                            i {
                                margin-right: 5px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .get-started {
            background-color: #F3F6FF;
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include lg {
                flex-direction: row;
            }



            .left-side {
                display: grid;
                padding-top: 70px;
                margin-left: 1rem;


                @include lg {
                    margin-left: 3rem;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                }

                p {
                    color: $gray-700;
                    @include h4;
                    font-weight: 300;
                }

                h1 {
                    font-weight: 800;

                    span {
                        color: #6366F1 !important;
                    }
                }

                .btn-theme {
                    width: 162px;



                    @include lg {
                        height: 52px;
                    }
                }
            }

            img {

                @include lg {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    padding-right: 6rem;
                }
            }
        }
    }
}
