header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:  "logo mobile";
        gap: 40px;
        
        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas:  "logo menu switch buttons";
        }

        .logo { grid-area: logo; }

        .menu { 
            grid-area: menu; 
            display: none;

            @include lg {
                display: block;
            }
            
            nav {
                display: flex;
                gap: 15px;
            }
        }
        
        .btn-switch { 
            grid-area: switch; 
            display: none;

            @include lg {
                display: block;
            }
        }

        .account-buttons { 
            grid-area: buttons; 
            display: none;
            gap: 15px;

            @include lg {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile; 
            display: block;

            @include lg {
                display: none;
            }
        }
    }
}