header {
    padding: 15px 0;
    background-color: var(--color-gray-000);



    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        grid-template-areas: "logo switch mobile";
        gap: 40px;

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        .logo {
            grid-area: logo;
        }

        .menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;

                a {
                    color: var(--color-gray-900);
                }
            }
        }

        .btn-switch {
            grid-area: switch;
            display: block;

            label {
                color: var(--color-gray-900);
            }

            @include lg {
                display: block;
            }
        }

        .account-buttons {
            grid-area: buttons;
            display: none;
            gap: 15px;



            @include lg {
                display: flex;
            }

            .profile-signed-in {

                .prfl-image {

                    a {

                        img {
                            object-fit: cover;
                            height: 44px;
                            width: 44px;
                            border-radius: 50%;
                            
                        }
                    }
                }
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;


            button {

                background-color: $theme;
                color: #fff;
                
            }


            @include lg {
                display: none;
            }
        }
    }
}
