.security {
    background-color: var(--color-gray-000) !important;

    .error-text {
        color: red;
    }

    .container {

        @include lg {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-areas: 'my-aside security';
        }

        aside {
            grid-area: my-aside;
            margin: 0;
            padding: 0;

            @include lg {
                width: 20rem;
                padding-right: 2rem;
                border-right: 1px solid var(--color-gray-400) !important;
            }

            .profile {
                text-align: center;
                padding-top: 3rem;




                .profile-image {
                    position: relative;
                    z-index: 1;

                    img {
                        height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    form {
                        .btn-white-circle {
                            height: 36px;
                            width: 36px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            border: 1px solid var(--color-gray-300) !important;
                            text-decoration: none;
                            color: var(--color-gray-900) !important;
                            position: absolute;
                            right: 70px;
                            bottom: 10px;
                            background-color: var(--color-gray-000) !important;
                            z-index: 2;
                        }
                    }
                }

                .profile-info {


                    h3 {
                        font-weight: 800;
                        color: var(--color-gray-900) !important;
                    }

                    p {
                        color: var(--color-gray-700) !important;
                    }
                }
            }

            nav {
                display: flex;
                justify-content: center;
                gap: 15px;
                margin-bottom: 2rem;

                @include lg {
                    display: grid;
                    flex-direction: column;
                    justify-content: center;
                }




                .btn-nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: var(--color-gray-800) !important;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border-radius: 6px;

                    i {
                        color: var(--color-gray-600) !important;

                        @include lg {
                            margin-left: 2rem;
                            margin-right: 1rem;
                        }
                    }

                    @include lg {
                        width: 20rem;

                        &:hover {
                            background-color: var(--color-gray-200) !important;
                        }
                    }
                }



                #nav-settings {

                    span {
                        display: none;

                        @include lg {
                            display: block;
                        }
                    }

                    @include lg {
                        justify-content: start;



                        i {
                            margin-left: 2rem;
                            margin-right: 1rem;
                        }
                    }
                }

                #nav-security {
                    span {
                        display: none;

                        @include lg {
                            display: block;
                        }
                    }

                    @include lg {
                        justify-content: start;



                        i {
                            margin-left: 2rem;
                            margin-right: 1rem;
                        }
                    }
                }

                #nav-bookmark {
                    span {
                        display: none;

                        @include lg {
                            display: block;
                        }
                    }

                    @include lg {
                        justify-content: start;



                        i {
                            margin-left: 2rem;
                            margin-right: 1rem;
                        }
                    }
                }

                #nav-signout {
                    span {
                        display: none;

                        @include lg {
                            display: block;
                        }
                    }

                    @include lg {
                        justify-content: start;



                        i {
                            margin-left: 2rem;
                            margin-right: 1rem;
                        }
                    }
                }

                #signout-btn {
                    display: none;
                    color: $gray-800;
                    text-decoration: none;

                    i {
                        color: $gray-600;
                        margin-left: 2rem;
                        margin-right: 1rem;
                    }

                    @include lg {
                        display: none;
                        padding: 8px 0;
                        background-color: transparent;
                        border-radius: 6px;

                        &:hover {
                            background-color: $gray-200;
                        }
                    }
                }
            }
        }
    }

    .security-content {
        grid-area: security;
        padding-top: 3rem;
        padding-left: 0;

        @include lg {
            padding-left: 6rem;
        }

        h2 {
            color: var(--color-gray-900) !important;
            font-weight: 800;
            margin-bottom: 3rem;
        }

        h5 {
            font-weight: 700;
            color: $theme;
        }

        form {
            display: block;
            border-bottom: 1px solid $gray-400;
            grid-column-gap: 0;


            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1rem;
                grid-template-areas: 'current current' 'new confirm-new' 'buttons buttons';
            }


            #form-current-password {
                grid-area: current;


                @include md {
                    width: 49.5%;
                }
            }

            #form-new-password {
                grid-area: new;
            }

            #form-confirm-new-password {
                grid-area: confirm-new;
            }

            .forms-btns {
                grid-area: buttons;
                margin-bottom: 3rem;


                @include md {
                    display: flex;
                }

                .btn-gray {
                    margin-bottom: 1rem;

                    @include md {
                        margin-bottom: 0;
                        margin-right: 1rem;
                    }
                }

                .btn-theme {
                }
            }
        }

        .delete-account {
            display: block;
            padding-bottom: 3rem;


            h5 {
                font-weight: 700;
                color: $theme;
                margin-top: 3rem;
            }

            .delete-info {
                color: var(--color-gray-700) !important;
            }
            /*            .text-with-validation {
                color: var(--color-gray-700);
            }*/




            .delete-btn {
                background-color: $danger;
                color: #fff;
                border: none;
                border-radius: 7px;
                padding: 8px 28px;
            }
        }
    }
}
