#signin {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-000);

    .container {
        width: 100%;

        @include lg {
            width: 30%;
        }


        form {
            .my-error-message {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                border-radius: 8px;
                background-color: #F5D7DA;
                border: 1px solid red;
            }

            h1 {
                color: var(--color-gray-900);
            }

            p {
                color: var(--color-gray-500) !important;
                margin: 0;

                a {
                    color: #6366F1;
                }
            }

            .content {


                #form-email {
                }

                #form-password {
                }

                #form-remember {
                }

                .btn-and-forgot-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    #form-submit {
                        width: 100%;
                    }

                    #form-forgot-password {
                        display: inline-block;
                        color: #6366F1;
                        font-weight: 600;
                        text-decoration: none;
                        margin-bottom: 2rem;
                    }
                }

                .external-providers {
                    text-align: center;

                    h6 {
                        color: var(--color-gray-900);
                        font-weight: 800;
                        border-top: 1px solid var(--color-gray-300);
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }

                    .providers {
                        display: flex;
                        gap: 1rem;

                        .btn-gray {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
