/*#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 45%;
        }

        form {
            padding: 0.5rem;

            h1 {
                font-weight: 800;
            }

            p {
                color: #565973;
                margin: 0;

                a {
                    color: #6366F1;
                }
            }

            .content {
                display: grid;
                gap: 0rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "button";




                @include md {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button"
                }

                #form-firstname {
                    grid-area: firstname;
                    
                }

                #form-lastname {
                    grid-area: lastname;
                }

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-confirm {
                    grid-area: confirm;
                }

                #form-terms {
                    grid-area: terms;
                    padding: 1rem 0;

                    a {
                        color: #6366F1;
                    }
                }

                #form-submit {
                    grid-area: button;
                }
            }
        }
    }
}*/

#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 45%;
        }


        h1 {
            font-weight: 800;
        }

        p {
            color: #565973;
            margin: 0;

            a {
                color: #6366F1;
            }
        }

        .content {
            display: grid;
            gap: 0rem 2rem;
            grid-template-columns: 1fr;
            grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "button";




            @include md {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button"
            }

            #form-firstname {
                grid-area: firstname;
            }

            #form-lastname {
                grid-area: lastname;
            }

            #form-email {
                grid-area: email;
            }

            #form-password {
                grid-area: password;
            }

            #form-confirm {
                grid-area: confirm;
            }

            #form-terms {
                grid-area: terms;
                padding: 1rem 0;

                a {
                    color: #6366F1;
                }
            }

            #form-submit {
                grid-area: button;
            }
        }
    }
}
