.switch {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30rem;

    @include md {
        height: 50rem;
    }

    @include xl {
        
    }


    .dark-left {
        background-color: $gray-900;
        height: 100%;
    }

    .light-right {
        background-color: transparent;
        height: 100%;
    }



    .topic-and-macbook {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;



        .text-position {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            margin-bottom: 4rem;
            text-align: center;



            .white-text {
                display: flex;
                justify-content: end;
                color: #ffffff;
                font-weight: 800;
                padding-right: 8px;
            }

            .dark-text {
                display: flex;
                justify-content: start;
                color: black;
                font-weight: 800;
                padding-left: 8px;
            }
        }

        img {
            max-height: auto;
            max-width: 100%;
            padding-left: 22%;
            padding-right: 22%;

            @include xl {

                
            }
        }
    }
}
