.switch {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 52rem;

    .dark-left {
        background-color: $gray-900;
        height: 100%;
    }

    .light-right {
        background-color: transparent;
        height: 100%;
    }



    .topic-and-macbook {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);



        .text-position {
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
            text-align: center;



            .white-text {
                color: #ffffff;
                font-weight: 800;
                margin-right: 1rem;
                margin-left: 1rem;
            }

            .dark-text {
                color: black;
                font-weight: 800;
                margin-left: 1rem;
            }
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
